<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">
    </head>
    <body>
        <div id="app-container" class="app-container"></div>
        <script type="text/javascript" src="/client/index.js"></script>
    </body>
</html>